  .home_container{
 color: lightsalmon;
 margin: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}
.home_button{
  cursor: pointer;
  color: blueviolet;
  background-color: gold;
  font-size: 30px;
  border-radius:5px;
  align-self: center;
  margin-left: 30%;
}
